.certificates {
    background-color: rgba(62, 62, 61, 1);
    background-image: url(../../images/sort.png);
    background-position: right 293.62px bottom 141.18px;
    background-repeat: no-repeat;
    min-height: 758px;
}